* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Aclonica', sans-serif;
    background-color: #fff;
    color: #000;
    margin-top: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: black;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 999;
    justify-content: center;
}


.header nav a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Aboreto', cursive;
}

.main-content {
    text-align: center;
    padding: 0px 0;
}

/* Flexbox layout for title and dinosaur image */
.title-and-image {
    display: flex;
    /* Enable flexbox for this container */
    justify-content: space-between;
    align-items: center;

}

.title-section {
    text-align: left;
    margin-left: 120px;
    flex: 1;
    /* Make the title section take the remaining space */
}

.title-section h1 {
    font-size: 64px;
}

.dino-image {
    flex-shrink: 0;
    text-align: right;
    margin-right: 120px;
}

.dino-image img {
    width: 400px;
    height: auto;

}

.animated-dino {
    animation: jump 2s infinite;

}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }


    100% {
        transform: translateY(0);
    }
}

.signup-banner {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Aboreto', cursive;
}

.signup-banner h1 a {
    color: #e33d26;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Aboreto', cursive;
}

.signup-btn {
    background-color: black;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 62px;
    font-family: 'Aboreto', cursive;
}

.promotion {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 120px;
    font-family: 'Aboreto', cursive;
}

.sponsor {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    text-align: left;
    margin-left: 120px;
    font-family: 'Aboreto', cursive;
}

.sponsor img {
    width: 50px;
    margin-right: 10px;
}